:root{
    --night:#020c27;
    --enfasis:#009688;
    --enfasish:#00776c;
}
nav{
    background-color: var(--enfasis);
}
nav a{
    color:#FFF;
}
.modal-header{
    background-color: var(--enfasis);
    color:#FFF;
}
.btn-agenda{
    background-color: var(--enfasis);
    color:#FFF;
}
.btn-agenda:hover{
    background-color: var(--enfasish);
}
.btn-outline-agenda{
    border-color: var(--enfasis);
    background-color: transparent;
    color:var(--enfasis);
}
.btn-outline-agenda:hover{
    color:#FFF;
    border-color: var(--enfasish);
    background-color: var(--enfasish);
}

.table-hover tbody tr:hover{
    color: var(--enfasish) !important;
}
thead th{
    background-color: var(--enfasis);
    border-color: var(--enfasis);
    color:#FFF;
}
.table thead th{
    border-color:var(--enfasis);
    border-bottom-color: #FFF; 
}

body.night{
    background-color: var(--night);
    color:#FFF;
}
.night .modal-content{
    background-color: var(--night); 
}
.night .card{
    background-color: var(--night);
    border-color: var(--success);
}

.night .dropdown-menu a{
    color:#000;
}
.night .nav-link{
    color:#FFF;
}
.night .table{
    color:#FFF !important;
}
.night .form-control-plaintext{
    color:#FFF;
}

body.light{
    background-image: url(../cream_pixels.png);
}
.light .modal-content{
    background-color: var(--light); 
}
